lightning_logs
mixed_geom_logs
data
__pycache__
.idea
results
tb_profile
**/*.ipynb
**/.ipynb_checkpoints
*err
*out
log
spde.py
scipy_sparse_tools.py
models_spde.py
models_wSPDE.py
merge_ose_osse*
main_wSPDE.slurm
lit_model_4DEnVar.py
lit_model_4DEnVar.py.old
lit_model_En4DVar.py
lit_model_Un4DVar.py
solver_4DEnVar.py
hydra_config/xp/stoch*
hydra_config/xp/4DEnVar_osse_wuc_gf.yaml
hydra_config/training/stoch*
hydra_config/training/4DEnVar_osse_wuc.yaml
hydra_config/params/fourdvarnet_osse_wuc.yaml
hydra_config/params/fourdvarnet_stoch_osse.yaml
checkpoints
__pycache__
tmp
outputs
.hydra
dashboard
hydra_main.log
multirun
.hydra
.submitit
multirun.yaml
icassp_code
archive_dash
icassp_code_bis
notebooks
tags
tb_logs
scratches_logs
version_*
instab
*.nc
*.csv
*.pk
lightning_logs_archives
report
trained_cfgs

disc_full_training.ckpt
full_training.ckpt

scratches/qf_dl_enatl.py
ssh_anim.gif