lightning_logs
data
__pycache__
.idea
results
tb_profile
*err
*out
log
checkpoints
__pycache__
tmp
outputs
.hydra
dashboard
hydra_main.log
multirun
.hydra
.submitit
multirun.yaml
icassp_code
archive_dash
icassp_code_bis
notebooks
tags
tb_logs
scratches_logs
version_*
instab
*.nc
*.csv
*.pk
lightning_logs_archives
report
trained_cfgs
