lightning_logs
data
__pycache__
.idea
results
tb_profile
*err
*out
submit_4DVarNet.slurm
log
spde.py
scipy_sparse_tools.py
models_wSPDE.py
merge_ose_osse*
main_wSPDE.slurm
lit_model_4DEnVar.py
solver_4DEnVar.py
checkpoints
__pycache__
tmp
outputs
.hydra
dashboard
hydra_main.log
multirun
scratch.py
.hydra
.submitit
multirun.yaml
icassp_code
archive_dash
icassp_code_bis
notebooks
tags
